body{
    margin: 0;
    background-color: burlywood;
}

header {
    background-color: cadetblue;
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    font-size: 4vw;
}

.choices {
    margin: 3% 10%;
    display: flex;
    gap: 5%;
    justify-content: center;
    flex-wrap: nowrap;
}

.choice {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    max-width:300px;
    border: 3px solid transparent;
    border-radius: 50%;
}

.choice:hover {
    border: 3px solid black;
}

.board {
    margin: 1% 10%;
    display: flex;
    justify-content: center;
    gap: 30%;
}

.score{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.result {
    margin: 30px 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#resultDiv{
    padding: 5px 10px;
    border-radius: 20px;
}

.newGame {
    background-color: chocolate;
    font-size: 24px;
    border-radius: 10px;
    padding: 10px;
}